@media (max-width: 768px) {
.main-content {
    margin-top: 146px;
}
  .product-cart-offcanvas .offcanvas {
    top: var(--header-height, 133px);
}
  .logo_Bar {
    gap: 45px !important;
  }
}

@media (max-width: 992px) {
.mobile-offcanvas {
    top: 19%;
}
    .logo_Bar {
    gap: 45px !important;
  }
}
