@media (max-width: 768px) {

  .product-cart-offcanvas .offcanvas {
    top: var(--header-height, 133px);
}
  .logo_Bar {
    gap: 45px !important;
  }
  .main-content {
    margin-top: 135px;
}
}

@media (max-width: 992px) {
.mobile-offcanvas {
    top: 133px;
}
    .logo_Bar {
    gap: 45px !important;
  }
}
